<!DOCTYPE html>
<html>
  <head>
    <title>Triangle Detector</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>
    <h1>Triangle Detector</h1>

      #parse( $template )

    </div>
  </body>
</html>
